.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 20px;
}

.tableContainer {
  border: 1px solid #000;
  min-width: 600px;
  min-height: 200px;
  margin: 10px;
  border-radius: 10px;
}
